<section class="TodoSection">
  <h2 class="TodoSection-title">
    <%= label %> <span class="TodoSection-title--info">
    <%if show_remaining %>
      <%= todos.completed_todos.length %> /
    <%end%>
    <%= todos.length %></span>
  </h2>
  <% todos.each do |todo| %>
  <div class="TodoSection-item">
    <%= form_with url: "/todos/#{todo.id}", method: "PUT" do %>
      <label class="TodoSection-todo <%= todo.completed ? "TodoSection-todo-completed" : nil %>">
        <input onclick="this.form.submit()" name="completed" <%= todo.completed ? "checked" : nil %> type="checkbox" />
          <%= todo.todo_text %>
      </label>
    <% end %>
    <% if show_due_date %>
    <span class="TodoLabel"><%= todo.due_date.to_s(:short) %></span>
    <%end%>
    <%= form_with url: "/todos/#{todo.id}", method: "DELETE" do %>
      <input class="TodoAction-delete" type="image" src="trash.png" value="Delete">
    <% end %>
  </div>
<% end %>
</section>
