<section class="TodoSection">
  <h2 class="TodoSection-title">
    <%= label %> <span class="TodoSection-title--info">
    <%if show_remaining %>
      <%= todos.completed_todos.length %> /
    <%end%>
    <%= todos.length %></span>
  </h2>
  <% todos.each do |todo| %>
  <div class="TodoSection-item">
    <%= form_with url: "/todos/#{todo.id}", method: "PUT" do %>
      <label class="TodoSection-todo <%= todo.completed ? "TodoSection-todo-completed" : nil %>">
        <%= check_box_tag 'completed', 'isCompleted', todo.completed, onclick: "this.form.submit()" %>
        <%= todo.todo_text %>
      </label>
    <% end %>
    <% if show_due_date %>
    <span class="TodoLabel"><%= todo.due_date.to_s(:short) %></span>
    <%end%>
    <%= form_with url: "/todos/#{todo.id}", method: "DELETE" do %>
      <%= image_submit_tag "trash.png", class:"TodoAction-delete" %>
    <% end %>
  </div>
<% end %>
</section>
